
@{
    ViewBag.Title = "ConfirmApplyJob";
    Layout = "~/Views/Shared/_LayoutFrontDesignBlank.cshtml";
}
<style>
    .btbb{
        margin-left:430px;
        margin-top:20px;
    }
</style>
<div class="container">
    <br />
    <br />
    <br />
    <br />

    <h2 style="text-align:center">Thank You Apply for your Dream Job</h2>
    @Html.ActionLink("Browse More Job","Index","Home", new {@class="btn btn-danger btbb" });

</div>

